lush-row {
	display: flex !important;
    width: 250rem;
}
lush-layer {
	display: block;
	color: white;
	opacity: 0;
	padding:1rem;
	padding-bottom: 1.5rem;
	margin-bottom: .5rem;
	margin-top: -12px; /* Used for animation */
	-webkit-box-shadow: 6px 6px 10px 0px rgba(0,0,0,0.25);
	-moz-box-shadow: 6px 6px 10px 0px rgba(0,0,0,0.25);
	box-shadow: 6px 6px 10px 0px rgba(0,0,0,0.25);
	cursor:move;
	/* transition: all .2s ease-in-out; */
}
lush-column {
	display: block;
	font-size: .8rem;
    /* background-color: #ececec; */
    width: 22rem;
    padding: .25rem;
    margin: .25rem;
    /* margin-right: .75rem; */
    padding-bottom: 7.5rem;
    border-radius: .5rem;
    padding-left:.25rem;
}
lush-column:first-child {
	margin-left:0;
}

.blueprint_column_default {
	background-color: #efefef;
}

/**
 * Style edits for ing.design blueprint
 */
.tg .full-cover {
	font-weight: normal;
	padding-top: 0;
	padding-bottom: 1rem;
}
.navbar-topbar {
	display:none;
}
.tg .l-pb-2 {
    padding-bottom: 0.25rem !important;
}
.tg .navbar-b .segment {
    margin: 31px 0 0 18px;
}
@media (min-width: 480px){
	.tg .brandbar-a .brandbar-heading {
	    margin-top: 18px;
	}
	.brandbar-image {
	    display: none;
	}
}
@media (min-width: 680px){
	.tg .brandbar-a .brandbar-heading {
	    margin-top: 3.75rem;
	}
	.brandbar-image {
	    display: block;
	}
}
@media (min-width: 992px){
	.tg .brandbar-a {
	    height: 25rem;
	}
	.tg .brandbar-a .brandbar-heading {
	    margin-top: 8.65rem;
	}
	.brandbar-image {
	    display: block;
	}
}
@media (max-width: 679px){
	.tg .brandbar-a .brandbar-heading {
	    margin-top: 1.5rem;
	}
	.brandbar-image {
	    display: none;
	}
}
#projectTitle {
	cursor: pointer;
	display: inline;
}
.blueprint_row {
	display: flex !important;
	width:250rem;
}
.blueprint_layer {
	color: white;
	opacity: 0;
	padding:.25rem;
	padding-left: .5rem;
	padding-right: .5rem;
	margin-bottom: .5rem;
	margin-top: -12px; /* Used for animation */
	-webkit-box-shadow: 6px 6px 10px 0px rgba(0,0,0,0.25);
	-moz-box-shadow: 6px 6px 10px 0px rgba(0,0,0,0.25);
	box-shadow: 6px 6px 10px 0px rgba(0,0,0,0.25);
	cursor:move;
	/* transition: all .2s ease-in-out; */
}
.blueprint_layer:hover {
	/* transform: scale(1.075);
	-webkit-box-shadow: 8px 12px 10px 0px rgba(0,0,0,0.1);
	-moz-box-shadow: 8px 12px 10px 0px rgba(0,0,0,0.1);
	box-shadow: 8px 12px 10px 0px rgba(0,0,0,0.1); */
}
.blueprint_layer:active {
	transition: none;
	transform: scale(1);
}
.blueprint_layer_title {
	font-family: rockwell-bold,Arial,sans-serif;
    font-size: 1.1rem;
    font-weight: 400;
    padding-top: .5rem;
	text-transform: uppercase;
    /* text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; */
}
.blueprint_layer_stepdefinition {
	color:#333;
	background-color:#f2e015;
}
.blueprint_layer_touchpoint {
	color:white;
	background-color:#6fa8dc;
}
.blueprint_layer_actor {
	color:white;
	background-color:#93c47d;
}
.blueprint_layer_apisystem {
	color:white;
	background-color:#8493a1;
}
.blueprint_layer_policyrule {
	color:white;
	background-color:#e06666;
}
.blueprint_layer_question {
	color:white;
	background-color:#3d85c6;
}
.blueprint_layer_idea {
	color:white;
	background-color:#f1c232;
}
.blueprint_layer_observationfact {
	color:#333;
	background-color:#ffffff;
}
.blueprint_layer_metric {
	color:white;
	background-color:#8e7cc3;
}
.blueprint_layer_criticalmoment {
	color:white;
	background-color:#e69138;
}
.blueprint_screencapture {
	width:1.25rem;
	padding-bottom: .5rem;
	cursor: pointer;
	opacity: 0;
}
.blueprint_edit {
	position: absolute;
	right:.65rem;
	top:.65rem;
	width:1.5rem;
	cursor: pointer;
	display:none; /* fadeIn through JS */
}
.blueprint_content {
	font-size: 1rem;
}

.blueprint_content h1,h2,h3,h4,h5,h6 {
	display: inline;
	color:white;
	font-size: 1.25rem;
}
.blueprint_content h1 {
	font-size:2rem;
}
.blueprint_content h2 {
	font-size:1.75rem;
}
.blueprint_content h3 {
	font-size:1.5rem;
}

.blueprint_content strong {
	font-family: rockwell-bold,Arial,sans-serif;
}
.blueprint_overlay {
	position: fixed;
	left:0px;
	right:0px;
	top:0px;
	bottom:0px;
	z-index: 999998; /* z-index is -1 from active element */
}
.blueprint_content > textarea {
	color: black;
	width: 100%;
    min-height: 10rem;
}
#markdownText {
	font-family: Consolas, monaco, monospace !important;
	font-size: 1.5rem;
}

.tg select, .tg optgroup {
	font-family: rockwell-bold,Arial,sans-serif;
	width: 75%;
}

/**
 * This is used for Markdown setup
 */
.tg strong {
    font-weight: bold;
}
.tg em {
    font-style: italic;
}
.tg p {
	margin-bottom: 0 !important;
}