/**
 * Custom stuff for the circle animations
 */
img[id^="circle_"] {
    position: absolute;
    width:100px;
    height:100px;
    z-index: 2;
    -webkit-animation-name: rotate; 
    -webkit-animation-duration: 3s; 
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    /*
    -webkit-filter: drop-shadow( -5px -5px 5px #000 );
            filter: drop-shadow( -5px -5px 5px #000 ); 
    */
    opacity: 0.75;
    cursor: crosshair;
    z-index: 2;
}

@-webkit-keyframes rotate {
    from {
        -webkit-transform: rotate(0deg);
    }
    to { 
        -webkit-transform: rotate(360deg);
    }
}

/**
 * Set z-indexes
 */
.Head {
    z-index: 4;
}

.eventLogo {
    z-index: 4;
}