/**
 * Custom CSS for experience website
 */
.tg .l-h-10 {
    height: 4px!important;
}

.eventLogo {
	position: absolute;
}

.row:not(:first-child) {
	padding-top: 1rem;
    padding-bottom: 1rem;
}

/**
 * This is temporary
 */
.row-noPadding {
	padding-top: 0 !important;
    padding-bottom: 0 !important;
}
/**
 * End of temp
 */

.row-b {
	background-color: #f5f5f5;
}

#map {
	width:100%;
	height:350px;
}

/**
 * Speaker blocks
 */
.speakersBlok {
    background-color: #D8D8D8;
    height: 200px;
    border-radius: .5rem;
}
.speakersBlok img {
    height: 164px;
    margin-left: 1.25rem;
    margin-top: .5rem;
}
.speakersBlokQuestion {
    position: absolute;
    font-size: 6rem;
    left: 50%;
    margin-left: -16px;
    top: 7.5%;
}

/**
 * LABELS
 */
a[class^="label"] {
    position: relative;
    margin-top: -1.75rem;
    width: 100%;
    border-bottom-left-radius: .5rem;
    border-bottom-right-radius: .5rem;
    padding: .25rem .25rem .25rem .4rem;
    background-color: #525199;
    border-radius: .2rem;
    text-decoration: none;
}
a[class^="label"]:link {
    color: white;
}
a[class^="label"]:visited {
    color: white;
}
a[class^="label"]:hover {
    color: white;
    text-decoration: underline;
}
a[class^="label"]:active {
    color: white;
}

span[class^="label-"] {
    padding: .05rem .25rem .05rem 0.25rem;
    border-radius: .2rem;
}

div[class^="label-"] {
    position: relative;
    margin-top: -1.75rem;
    width: 100%;
    border-bottom-left-radius: .5rem;
    border-bottom-right-radius: .5rem;
    padding: .05rem .25rem .05rem 0.25rem;
}

div[class^="label-"] h2 {
    font-size: 1rem;
}

div[class^="label-"] p {
    margin-bottom: 0;
}

div[class^="label-"] b {
    color: #FFF;
}

/* EVERYTHING SMALLER THAN 500 */
@media only screen and (max-width: 500px) {
    div[class^="label-"] p {
        font-size: .7rem;
        min-height: 2rem;
    }
}
/* EVERYTHING LARGER THAN 500 */
@media only screen and (min-width: 500px) {
    div[class^="label-"] p {
        font-size: .85rem;
        min-height: 4rem;
    }
}



/**
 * Mailchimp labels
 */
label[class="heading-b-xl"] {
    margin-top: 12px;
}

/**
 * SPEAKERS
 */
.speaker {
    padding-bottom: .25rem;
    cursor: pointer;
}

@-webkit-keyframes woooohaaaaaa {
    0% { -webkit-transform: translate(2px, 1px) rotate(0deg); }
    10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
    20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
    30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
    40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
    50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
    60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
    70% { -webkit-transform: translate(2px, 1px) rotate(-1deg); }
    80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
    90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
    100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); }
}
.speaker:hover,
.speaker:focus {
    -webkit-animation-name: woooohaaaaaa;
    -webkit-animation-duration: 0.8s;
    -webkit-transform-origin:50% 50%;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}

.label-design {
    background-color:#60A6DA;
}
/*
.label-design.speakersBlokQuestion {
    color: :#60A6DA;
}
*/
.label-leanStartup {
    background-color:#CD66A4;
}
/*
.label-leanStartup.speakersBlokQuestion {
    color:#CD66A4;
}
*/
.label-APIs {
    background-color:#D0D93C;
}
/*
.label-APIs .speakersBlokQuestion {
    color:#D0D93C;
}
*/
.label-leadership {
    background-color:#349651;
}
/*
.label-leadership .speakersBlokQuestion {
    color:#D0D93C;
}
*/

/**
 * Button animations
 */
.btn:hover,
.btn:focus {
    -webkit-animation-name: woooohaaaaaa;
    -webkit-animation-duration: 0.8s;
    -webkit-transform-origin:50% 50%;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}

/**
 * Media Query for mobile
 */

/* EVERYTHING SMALLER in WIDTH THAN 680 */
@media only screen and (max-width: 680px) {
    .brandbar-a {
        display:none !important;
    }
    .brandbar-b {
        display:none !important; /* ALSO SET TO NONE FOR NOW */
    }
    .eventLogo {
        width: 40%;
        margin-left: -20%;
    }
    .row {
        padding-left: .5rem;
        padding-right: .5rem;
    }
}

/* EVERYTHING SMALLER in HEIGHT THAN 500 */
@media only screen and (max-height: 500px) {
    .eventLogo {
        margin-top: 1% !important;
    }
    .conferenceLocation {
        font-size: 1.7rem !important;
        top: 32% !important;
    }
}

/* EVERYTHING LARGER in WIDTH THAN 680 */
@media only screen and (min-width: 680px) {
    .brandbar-a {
        /* height:495px !important; */
        display:block !important;
    }
    .brandbar-b {
        display:none !important;
    }
    .eventLogo {
        height: 24%;
        left: 50%;
        margin-left: -12%;
        margin-top: 3%;
        width: 24%;
    }
    div[class^="conference"] {
        position: absolute;
        color: #FFF;
        width: 400px;
        left: 50%;
        margin-left: -200px;
        text-align: center;
    }

    .conferenceLocation {
        font-size: 1.75rem;
        top: 36%;
    }
    .conferenceDate {
        font-size: 1.25rem;
        top: 43%;
    }
}